<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073967982990-03ib5hgn091etcg9a7vhne8oolluncnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073967982990-03ib5hgn091etcg9a7vhne8oolluncnu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1073967982990-iqt4l52pr85401a4ioguuqkasfflf5cj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkuJhKMYa9QS-TWmiXN4UvvkFOctOD-R8</string>
	<key>GCM_SENDER_ID</key>
	<string>1073967982990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oya.delivery</string>
	<key>PROJECT_ID</key>
	<string>realcan-e33b1</string>
	<key>STORAGE_BUCKET</key>
	<string>realcan-e33b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073967982990:ios:b4d9c20cd2884c44fd9cdf</string>
</dict>
</plist>